<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.projectjoao">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.projectjoao.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.projectjoao.ListingActivity"
            android:label="Lista de usuários"
            android:parentActivityName="com.example.android.projectjoao.MainActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.projectjoao.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android.projectjoao.ShowActivity"
            android:label="Detalhe do usuário"
            android:parentActivityName="com.example.android.projectjoao.ListingActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.projectjoao.ListingActivity" />
        </activity>
        <activity
            android:name="com.example.android.projectjoao.CreateActivity"
            android:label="Criar usuário"
            android:parentActivityName="com.example.android.projectjoao.ListingActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.projectjoao.ListingActivity" />
        </activity>
        <activity
            android:name="com.example.android.projectjoao.EditActivity"
            android:label="Editar usuário"
            android:parentActivityName="com.example.android.projectjoao.ShowActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.projectjoao.ShowActivity" />
        </activity>
    </application>
</manifest>